html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

h1,
.h1,
h2,
.h2 {
  margin: 0;
  color: #111111;
  text-rendering: optimizelegibility;
  font-weight: normal;
}

h1,
.h1 {
  margin-bottom: 0.1em;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2em;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

h2,
.h2 {
  margin-bottom: 0.5em;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.2em;
}

ul.ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 1.4em;
  line-height: 2.4em;
  font-weight: bolder;
}

ul.ul li,
ol.ol li {
  margin-bottom: 0.7em;
}

section.dark {
  border-bottom: #dddddd solid 1px;
  padding: 3em 1.5em;
  overflow: hidden;
  margin-top: 70px;
}

/* Pie Chart */
.pie-chart {
  text-align: center;
  overflow: hidden;
}

.pie-chart ul {
  list-style-type: none;
  padding: 0;
}

.pie-chart .designer,
.pie-chart .coder {
  float: none;
  margin-bottom: 3em;
  overflow: hidden;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*ALL HTML elements gets this styling*/
* {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

/*mobile version*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 70px;
  z-index: 1;
}

header .header-brand {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: right;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #111;
}

#content-detail {
  position: relative;
}

/*FOOTER*/
footer {
  display: flex;
  width: calc(100% - 80px);
  padding: 40px 40px;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  margin: 20px
}

.footer-sm {
  width: 50px;
  float: right;
  padding-top: 10px;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 20px;
}

.left {
  float: left !important;
}
.red{
  color: red;
}

/* style the header for the desktop version*/
/*INDEX*/
.index-banner {
  width: 100%;
  height: 450px;
  ;
  background-image: url('../../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 180px;
}

.index-banner h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 45px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-links {
  border-bottom: #dddddd solid 1px;
  padding: 3em 1.5em;
  overflow: hidden;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #111;
  letter-spacing: 1em;
}

.index-links div h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 100px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1;
}

/* style the main content for the desktop version*/
@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
  }

  header nav ul {
    margin: 20px 0px 0px 20px;
    float: right;
    margin-right: 20px;
    font-weight: bolder;
  }

  header nav ul li a {
    line-height: 60px;
    margin: 20px;
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

  .index-banner {
    height: 450px;
  }

  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
    text-shadow: 1px 1px 1px #111;
    letter-spacing: 5px;
  }

  .index-boxlink-square {
    width: calc(25% - 20px) !important;
  }

  .lin2 {
    background-image: url("../../img/link2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .lin3 {
    background-image: url("../../img/link3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .lin4 {
    background-image: url("../../img/link4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .lin5 {
    background-image: url("../../img/link5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .lin6 {
    background-image: url("../../img/link6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .index-boxlink-rectangle {
    width: calc(50% - 20px) !important;
  }

  .index-links div h3 {
    line-height: 230px;
  }

  footer ul {
    padding-right: 30px;
  }

  .sticky-f {
    min-height: calc(100vh- 290px);
    margin-bottom: 300px;
  }

  #content-detail {
    padding-bottom: 6em !important;
  }

  .row {
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
  }

  /* Pie chart */
  .pie-chart .designer,
  .pie-chart .coder {
    padding-top: 3em;
    width: auto;
    margin: 16px 16px 0;
  }

  .pie-chart .coder {
    float: right;
    margin-bottom: 0;
    text-align: center;
  }

  .pie-chart .designer {
    float: left;
    margin: 0;
    text-align: center;
  }

  .pie-chart img {
    width: auto;
    padding: 20px;
    text-align: center;
  }

  .pie-chart ul li {
    display: block;
  }

  }
